@charset "utf-8";
 * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.background-img img{
    width: 100%;
    height: auto;
    background: no-repeat;
    position: relative;
    
}
.form-bg{
    position: absolute;
    width: 30%;
    height: auto;
    background: #fff;
    top: 20px;
    margin-left: 35%;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    
}
.form-bg img{
    width: 150px;
    padding-top: 20px;
    margin-bottom: 20px;
}
p.text-center {
    padding: 0 66px;
}
.input-container{
    position: relative;
}
.input-container i {
    position: absolute;
    font-size: 20px;
    color: #aaa;
    top: 11px;
    left: 98px;    
}
.form-design{
    width: 70%;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #E7E9EB;
    outline: none;
    transition: .5s;
    padding-left: 56px;
}

.form-design:focus +i{
    color: dodgerBlue; 
    transition: .5s;
}

.form-design:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
.login-btn{
    background-color: dodgerblue;
    border: none;
    width: 70%;
    height: 35px;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    outline: none;  
}
.login-btn:hover{
    background-color:#0d6185;
}
.error{
    color: red;
}